body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    max-width: 900px;
    margin: auto;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

