body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

